* {
	font-family: "Times New Roman";
}

img {
    width: 80%;
    height: auto;
    margin-top: 15px;
    text-align: right;
}

.row-1a {
	text-align: center;
}

#bizcard {
	height: 200px;
	width: 520px;
	margin-top: 50px;
}

#company {
	margin-top: 0px;
	margin-left: 10px;
	font-size: 15px;
	letter-spacing: 0.8px;
}

#name {
	margin-bottom: 0px;
	margin-left: 10px;
	margin-top: 15px;
	font-size: 20px;
	letter-spacing: 1px;
	color: rgb(200,0,0);
	text-shadow: 0.3px 0.3px black;
}

.address {
	margin: 25px 0px 25px;
	font-size: 14px;
}

.numbers {
	margin-left: 10px;
	letter-spacing: 0.95px;
	margin-bottom: 5px;
}

.numhead{
	font-size: 16px;
	color: rgb(200,0,0);
	text-shadow: 0.5px 0.5px black;
}

.contact {
	margin-left: 10px;
}

.email {
	font-size: 15px;
}

.col-lg-8{
	border-left: 2px solid black;
}

.row-2a {
	margin: 10px;
}

#yrs{
	display: inline-block;
	width: 50%;
	float: left;
	height: 60px;
	font-size: 56px;
	text-align: right;
    padding-right: 5px;
    color: rgb(200,0,0);
    text-shadow: 0.5px 0.5px black;

}

#yrsof{
	display: inline-block;
	width: 50%;
	float: left;
	height: 60px;
	padding-top: 17px;
    font-size: 17px;
    text-align: left;
    color: rgb(200,0,0);
    text-shadow: 0.5px 0.5px black;
}

#wmyrs {
	text-align: center;
	font-size: 15px;
	color: rgb(200,0,0);
	letter-spacing: 1px;
	text-shadow: 0.5px 0.5px black;
}

#wmline {
	border-bottom: 1px solid black ;
	padding: 5px;
	margin-right: 20px;
	margin-left:20px;
}

.red_line {
	color: rgb(200,0,0);
	text-shadow: 0.5px 0.5px black;
}